<?php
$data .= "
<style>
td,body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #444444;
}
</style>
<br>
    <center>
     <div style=\"border-bottom:1px #999999 solid;width:480;\"><b>
       <font size='1' color='#3896CC'>Service Status</font></b>
     </div>
   </center>
<br>";

//configure script
$timeout = "1";

//
// NO NEED TO EDIT BEYOND HERE
// UNLESS YOU WISH TO CHANGE STYLE OF RESULTS
//

//Begin services
$data .= "<table width='480' border='1' cellspacing='0' cellpadding='3' style='border-collapse:collapse' bordercolor='#333333' align='center'>";

$row = 1;
if (($handle = fopen("services.csv", "r")) !== FALSE) {
	while (($line = fgetcsv($handle, 100, ";")) !== FALSE) {
		if (count($line) == 3) {
			if($line[2]==""){
				$line[2] = "localhost";
			}

			$fp = @fsockopen("$line[2]", $line[0], $errno, $errstr, $timeout);
			if (!$fp) {
				$data .= "<tr><td>$line[1]</td><td bgcolor='#FFC6C6'>Offline </td></tr>";
			} else {
				$data .= "<tr><td>$line[1]</td><td bgcolor='#D9FFB3'>Online</td></tr>";
			}
			fclose($fp);
		} else if (count($line) <> 1) {
			$data .= "<tr><td colspan=2>Wrong format for services!!!</td></tr>";
		}
	}
}

//close table
$data .= "</table>";


$data .= " <br>
    <center>
     <div style=\"border-bottom:1px #999999 solid;width:480;\"><b>
       <font size='1' color='#3896CC'>Applications</font></b>
     </div>
   </center>
<br>";


//Begin applications
$data .= "<table width='480' border='1' cellspacing='0' cellpadding='3' style='border-collapse:collapse' bordercolor='#333333' align='center'>";

$row = 1;
if (($handle = fopen("applications.csv", "r")) !== FALSE) {
	while (($line = fgetcsv($handle, 100, ";")) !== FALSE) {
		if (count($line) == 2) {
			$data .= "<tr><td><a href=\"$line[1]\" target=\"_blank\">$line[0]</a></td></tr>";
		} else if (count($line) !== 1) {
echo count($line);
			$data .= "<tr><td>  Wrong format for application links!!!</td></tr>";
		}
	}
}

//close table
$data .= "</table>";

echo $data;
?>
