<application>
  <component name="UISettings">
    <option name="HIDE_TOOL_STRIPES" value="{{ intellij_ui_hide_tool_stripes }}" />
    <option name="SHOW_MAIN_TOOLBAR" value="{{ intellij_ui_show_main_toolbar }}" />
    <option name="SCROLL_TAB_LAYOUT_IN_EDITOR" value="{{ intellij_ui_scroll_tab_layout_in_editor }}" />
  </component>
</application>
