####### MYSQL DATABASE CONFIGURATION ###########
db.host=localhost
db.port={{ mysql_port }}
db.name={{ hybris_db_name }}
db.username={{ hybris_db_user }}
db.password={{ hybris_db_passw }}

db.url=jdbc:mysql://${db.host}:${db.port}/${db.name}?useConfigs=maxPerformance&characterEncoding=utf8
db.driver=com.mysql.jdbc.Driver
db.tableprefix=
mysql.optional.tabledefs=CHARSET=utf8 COLLATE=utf8_bin
mysql.tabletype=InnoDB

